@model IEnumerable<CategoriaProjeto_PSI.Models.Fabricante>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Bebas Neue';
        }

        th {
            font-family: 'Bebas Neue';
            font-size: 20px;
        }

        td {
            height: 40px;
        }

        .nome {
            width: 80px;
        }

        nav {
            display: flex;
        }

            nav a {
                background-color: white;
                border-radius: 5px;
                text-align: center;
                padding: 5px;
                color: deepskyblue;
                text-decoration: none;
                transition-duration: 0.3s;
            }

        nav a:hover {
            filter: brightness(1.2);
        }

        nav a::after {
            content: "";
            width: 0%;
            height: 2px;
            background: deepskyblue;

            position: absolute;
            left: 0;
            bottom: 0rem;

            transition: width 0.2s;
        }

         nav a:hover::after {
            width: 100%;
        }

        a {
            border-radius: 5px;
            text-align: center;
            padding: 5px;
            background-color: deepskyblue;
            color: white;
            text-decoration: none;
            transition-duration: 0.3s;
        }

        a:hover {
            filter: brightness(1.2);
        }

        th {
            color:deepskyblue;
            border-bottom: solid 2px deepskyblue;
            padding: 2px;
            font-style: normal;
        }
        td {
            padding: 5px;
            border-bottom: solid 2px deepskyblue;
        }

    </style>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>

        <td>
            <nav>
                @Html.ActionLink("Edit", "Edit", new { id = item.FabricanteId })
                @Html.ActionLink("Details", "Details", new { id = item.FabricanteId })
                @Html.ActionLink("Delete", "Delete", new { id = item.FabricanteId })
            </nav>
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
